body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87CEEB;
    color: #000000;
    background: linear-gradient(to bottom, #add8e6, #87CEEB); /* Gradiente de azules para el cielo */
}

header {
    position:relative; /* Posición relativa para que los elementos internos se posicionen correctamente */
    height: 100px; /* Altura del encabezado */
    text-align: center; /* Alineación a la derecha */
    overflow: hidden; /* Oculta el contenido que se desborda del encabezado */
}

.background-image {
    position: absolute; /* Posición absoluta para que la imagen se coloque detrás del encabezado */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Imagenes/flat_earth_1.JPG); /* Ruta de la imagen de fondo */
    background-size: cover; /* Cubrir todo el área del encabezado */
    opacity: 0.5; /* Opacidad de la imagen de fondo */
}

.header-content {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100%; /* Altura del encabezado */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('Imagenes/Captura.JPG');
    background-size: cover;
    background-position: center;
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
}

form {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el formulario */
    padding: 20px; /* Espacio interior del formulario */
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
    color: white; /* Color del texto */
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para los campos de entrada */
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el ratón por encima */
}

nav {
    font-family: 'Lucida Sans';
    text-align: center; /* Alineación a la derecha */
    font-size: 1.5em;
    width: 100%; /* Ocupar todo el ancho de la pantalla */
    background-color: #8FBC8F; /* Color de fondo para el menú */
}

nav a[href="index.html"] {
    color: #007bff; /* Color del texto específico para el enlace "Contáctanos" */
}

h2 {
    font-size: 50px;
    color: #fff;
    margin: 0;
    text-align: center;
}

footer {
    background-color: #8B4513;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #deb887, #8B4513);
}